.pill {
  font-size: 1rem;
  display: inline-flex;
  align-items: center;
  padding: 0 0.75rem;
  font-size: 0.9rem;
  height: 2.5rem;
  margin: 0.2rem;
  border-radius: 1.2rem;
  background-color: #ea215a;
  color: rgba(255, 255, 255, 0.84);
}
.pill:not(:first-child) {
  margin-left: 0;
}
